<span class="tag <%= tag_css_class tag.name %>">        
	<%- if !is_note -%>
		<%= link_to tags_item.name, {:controller => "contacts", :action => "index", :tag => tags_item.name} %>
	<%- else -%>
		<%= link_to tags_item.name, {:controller => "contacts", :action => "contacts_notes", :tag => tags_item.name} %>
	<%- end -%>
</span>	
