<span class="tag">        
	<%- if !is_note -%>
		<%= link_to tags_item.name, {:controller => "contacts", :action => "index", :project_id => @project, :tag => tags_item.name}, :project_id => "tag_#{tags_item.id}" %>
	<%- else -%>
		<%= link_to tags_item.name, {:controller => "contacts", :action => "contacts_notes", :project_id => @project, :tag => tags_item.name}, :project_id => "tag_#{tags_item.id}" %>
	<%- end -%>
</span>	
