<p>		
	<%= label(:project, :contact_id, l(:field_contact)) %><%= contact_select_tag(@project) %> 
</p>

<% unless @project.identifier_frozen? %>
<script>
//<![CDATA[
document.observe('dom:loaded', function () {
	Event.observe( 'project_contact_id', 'change', function () {
		<%= remote_function :url => { :controller => :contacts, :action => :populate_project_id },
		 	  :with => '\'?id=\' + $F(\'project_contact_id\')' %>
	});
});
//]]>
</script>
<% end %>