<% relations.each do |deal| %>
<table class="note_data">
	<tr>
		<td class="avatar"><%= link_to avatar_to(deal, :size => "32"), {:controller => 'deals', :action => 'show', :id => deal.id}, :id => "avatar" %></td>
		<td class="name" style="vertical-align: top;">
			<h4>
				<%= link_to deal.name, {:controller => 'deals', :action => 'show', :id => deal.id } %>
			</h4>
			<%= h number_to_currency(deal.price) %>
		</td>
	</tr>
</table>
<% end %>